<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock page_title %}</title>
</head>
<body>
    {% block menu %}
        <menu>
            <a href="/">Home page</a>
            <a href="/about">About</a>
            <a href="/contact">Contacts</a>
            <br>
            <a href="/all_courses">All courses</a>
            <a href="/create_course">Create course</a>
            <a href="/copy_course">Copy course</a>
            <a href="/all_categories">All categories</a>
            <a href="/create_category">Create category</a>
            <p>Check out <a href="/all_students/">our students</a>!</p>
        </menu>
    {% endblock menu %}

    {% block main %}
    {% endblock main %}
</body>
</html>