{% extends 'base.html' %}

{% block page_title %}
    Contact Page
{% endblock page_title %}

{% block main %}
    <form method="post">
        <h6>Enter your email</h6>
        <input type="email" name="email">
        <br>
        <h6>Enter your subject</h6>
        <input type="text" name="subject">
        <br>
        <h6>Enter your message</h6>
        <input type="text" name="message_text" size="100">
        <br>
        <button type="submit">Send message</button>
    </form>
{% endblock main %}