{% extends "base.html" %}
{% block title %}
    Create new course category
{% endblock %}
{% block content %}
    <body>
    {% include "inc-menu.html" %}
    <h1>Create a new course category here!</h1>
    <form method="post">
        <label>
            <input type="text" name="name" placeholder="Category name">
        </label>
        <br>
        <label>
            <select size="5" name="category_id">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </label>
        <br>
        <button type="submit" class="btn btn-outline-success">Create!</button>
    </form>
    </body>
{% endblock %}