{% extends "base.html" %}
{% block title %}
    Index page
{% endblock %}
{% block content %}
    <body>
    {% include "inc-menu.html" %}
    <div>
        <h1>School of DJing and stuff!</h1>
    </div>
    <div>
        <p>So, you might have heard that last night a DJ saved my life! From the broken heart of course, but that is
            beside the point...</p>
        <h3>Do you want to be a life-saver?</h3>
        <p>Then you'll probably want to become a DJ! And probably learn some other boring stuff like music theory or,
            say, how to spin vinyl records as if anyone needs that in the 21st century.</p>
        <p>So if you're interested, you can have a look at the <a href="/all_courses/">full list of our courses</a> and
            pick something just for you. Or pick a lot, go to town, we won't judge...</p>
        <p>You can also view all the available course categories <a href="/all_categories/">here</a>.</p>
        <p>Check out <a href="/all_students/">our students</a>!</p>
    </div>
    <h2>Start today and have fun!</h2>
    </body>
{% endblock %}