{% extends "base.html" %}
{% block title %}
    List of students
{% endblock %}
{% block content %}
    <body>
    {% include "inc-menu.html" %}
    <h2>Here are our glorious students!</h2>
    <ul>
        {% for object in objects_list %}
            <li>
                {{ object.name }}<br>
                Attends the following courses:<br>
                {% for course in object.courses_in_attendance %}
                    {{ course.name }},
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
    </body>
{% endblock %}
